fastapi
uvicorn
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]

pydantic
httpx
neo4j

numpy
pandas

scikit-learn
imbalanced-learn


aiofiles
websockets

Pillow

chromadb
langchain
langchain-community
sentence-transformers

openai
groq
twilio
langdetect
pyngrok

bcrypt==4.0.1
ultralytics
opencv-python
matplotlib
tqdm